/AllCombiRuleSet.class
/ForSortPattern.class
/FuzzyPartitioning$1.class
/FuzzyPartitioning.class
/Rule.class
/RuleSet$1.class
/RuleSet.class
/SingleRule.class
/SingleRuleSet$3.class
/SingleRuleSet.class
/StaticFuzzyFunc.class
